body{
font-family: Arial;
margin:0;
background:#f5f7fb;
}

header{
display:flex;
justify-content:space-between;
padding:20px 60px;
background:#111827;
color:white;
}

nav a{
margin-left:20px;
color:white;
text-decoration:none;
}

.title{
text-align:center;
margin-top:40px;
}

.container{
display:flex;
justify-content:center;
gap:40px;
margin-top:40px;
}

.bin-card{
background:white;
padding:30px;
border-radius:10px;
width:220px;
box-shadow:0 10px 20px rgba(0,0,0,0.1);
text-align:center;
}

.progress{
background:#eee;
height:20px;
border-radius:20px;
overflow:hidden;
margin:15px 0;
}

.level{
height:100%;
text-align:center;
color:white;
font-size:12px;
}

.high{
width:80%;
background:red;
}

.medium{
width:50%;
background:orange;
}

.low{
width:20%;
background:green;
}
